@charset "utf-8";
/* CSS Document */
/**
 * 1.0 - Normalize
 * 2.0 - Common
 * 3.0 - Wrapper
 * 4.0 - Header
 *    4.1 - Nav
 * 5.0 - Contents
 * 6.0 - Footer
 * 7.0 - Option
 *    7.1 - Index
 * 8.0 - Print
 * 0.0 - Text
 * 0.1 - Margin
 * 0.2 - Float
 * 0.3 - Letter-spacing
 */

/*---------------------------------------- 
	1.0 - Normalize 
----------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
img {
	vertical-align: top;
	outline: none;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display: block;
}
nav ul, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
	max-width: 100%;
	max-heihgt: 100%;
}
sup {
	vertical-align: text-top;
}
.clear {
	clear: both;
}
.clear_fix:after {
	display: block;
	height: 0;
	content: "";
	clear: both;
}
/*---------------------------------------- 
	2.0 - Common 
----------------------------------------*/
html {
	font-size: 62.5%;
	background-color: #202020;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
	font-size: 16px;
	font-size: 1.6rem;
	background-color: #FFF;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}
a {
	color: #D8041F;
}
a:hover {
	color: #FB2843;
	text-decoration: none;
}
.img_hover:hover {
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70)";
	opacity: 0.7;
}
a.external:after {
	content: url(../img/ico_extarnal01.gif);
	padding-left: 10px;
}
a.external:hover:after {
	opacity: 0.5;
}
.inner {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.inner:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}
body ol {
	padding-left: 2.0em;/*2桁まで表示*/
}
body ol li {
	position: relative;
}
/*Internet Explorer hack*/
/*IE8-11*/
@media screen\0 {
body ol {
	padding-left: 2.2em;/*2桁まで表示*/
}
}
/*IE10-11*/
_:-ms-input-placeholder, :root body ol {
 padding-left: 2.2em;/*2桁まで表示*/
}
/*---------------------------------------- 
	3.0 - Wrapper
----------------------------------------*/
#wrapper {
}
/*---------------------------------------- 
	4.0 - Header
----------------------------------------*/
header {
	border-top: 10px solid #A2B024;
	background-color: #CBD460;
	margin-bottom: 0px;
	padding-top: 25px;
}
header:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}
.head {
	max-width: 1000px;
	margin: 0 auto;
	letter-spacing: -0.5em;
}
.head p,
.head h1 {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
}
.head p.logo_icc {
	max-width: 29%;
}
.head h1 {
	max-width: 68%;
	margin-left: 3%;
}
.head h1 .sp {
	display: none;
}
.head p.tablet {
	display: none;
}
/*---------------------------------------- 
	4.1 - Nav
----------------------------------------*/
#global_nav {
	clear: both;
	box-sizing: border-box;
	max-width: 1000px;
	margin: 0 auto;
}
#global_nav ul {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #FFF;
	letter-spacing: -0.5em;
	padding: 20px 0 10px 0;
	display: table;
}
#global_nav ul li {
	box-sizing: border-box;
	color: #FFF;
	display: table-cell;
	font-size: 15px;
	font-size: 1.5rem;
	letter-spacing: normal;
	line-height: 1.2;
	vertical-align: middle;
	padding: 8px 5px 20px 5px;
	position: relative;
	text-align: center;
	z-index: 100;
}
#global_nav ul li:first-child {
	padding-left: 0;
}
#global_nav ul li:last-child {
	padding-right: 0;
}
/*
#global_nav ul li:nth-of-type(7) {
	width: 13em;
	padding-left: 0;
	padding-right: 0;
}
*/
#global_nav ul li a,#global_nav ul li span {
	position: relative;
	text-decoration: none; 
}
#global_nav ul li a,#global_nav ul li.pre {
	text-shadow: 1px 1px 3px #000;  
}
#global_nav ul li.on a {
	text-shadow: none;  
}
#global_nav ul li a:hover {
	text-shadow: none;  
}
#global_nav ul li a:after,#global_nav ul li span:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #A2B024;
	bottom: -8px;
	left: 0;
}
#global_nav ul li a:link,#global_nav ul li a:visited,
#global_nav .on .sub_nav li a:link,#global_nav .on .sub_nav li a:visited {
	color: #fff;
}
#global_nav ul li.on a, #global_nav ul li a:hover,#global_nav ul li a:active,
#global_nav .on .sub_nav li a:hover,#global_nav .on .sub_nav li a:active {
	color: #004580;
}
#global_nav .sub_nav li span {
	color: #DBE6BB;
}
/* Fixed */

/* Toggle Button */
#nav_toggle {
	display: none;
	position: absolute;
	right: 10px;
	top: 40px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}
#nav_toggle div {
	position: relative;
}
#nav_toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	background-color: #FFF;
}
#nav_toggle span:nth-child(1) {
	top: 0;
}
#nav_toggle span:nth-child(2) {
	top: 11px;
}
#nav_toggle span:nth-child(3) {
	top: 22px;
}
/* Sub Navigation */
#global_nav .sub_nav {
	background-color: #A2B024;
	padding: 0;
	position: absolute;
	top: 36px;
	left: 0px;
	z-index: 10;
	width: auto;
	display: inline;
}
#global_nav .sub_nav li {
	border-top: 1px solid #939E40;
	border-bottom: none;
	display: table;
	padding: 0;
	text-align: left;
	white-space: nowrap;
	width: 100%;
}
#global_nav .sub_nav li:nth-of-type(7) {
	width: 100%;
}
#global_nav .sub_nav li a,#global_nav .sub_nav li span {
	padding: 8px 10px;
	display: table-cell;
	text-shadow: none;
	width: 100%;
}
#global_nav .sub_nav li a:after,#global_nav .sub_nav li span:after {
	display: none;
}
/*---------------------------------------- 
	5.0 - Contents
----------------------------------------*/
#contents {
	max-width: 1000px;
	box-sizing: border-box;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 65px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}
#contents:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}
section {
	padding-bottom: 30px;
}
.cont-head {
	padding-top: 0 !important;
}
#contents h1 {
	color: #333333;
	font-size: 30px;
	font-size: 3.rem;
	border-bottom: 5px solid #939E40;
	position: relative;
	line-height: 1;
	padding-bottom: 8px;
	margin-bottom: 30px;
}
#contents h1:after {
	border-bottom: 5px solid #556210;
	display: block;
	width: 40%;
	content: "";
	position: absolute;
	bottom: -5px;
}
#contents h2 {
	background-color: #B0BC5A;
	color: #fff;
	font-size: 21px;
	font-size: 2.1rem;
	border: 1px solid #556210;
	position: relative;
	line-height: 1;
	padding: 9px 10px 8px 12px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#contents h2:first-child {
	margin-top: 0px;
}
#contents h2:after {
	box-sizing: border-box;
	border: 3px double #556210;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#contents h3 {
	box-sizing: border-box;
	border-left: 4px solid #556210;
	margin-bottom: 10px;
	padding-left: 8px;
	line-height: 1.2;
}
#contents p {
	margin-bottom: 20px;
}
/*---------------------------------------- 
	6.0 - Footer
----------------------------------------*/
footer {
	background-color: #202020;
}
.scr_box {
	padding: 40px;
	color: #FFF;

}
.scr_box dt {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
	font-size: 1.8rem;
}
.scr_box dd {
	line-height: 1.2;
}
.scr_box dd .tablet {
	display: none;
}
footer .copy {
	border-top: 1px solid #8E8D8D;
	color: #8E8D8D;
	padding: 30px 40px 30px 40px;
}
.link_top {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.link_top a {
	position: relative;
	display: inline-block;
	line-height: 1;
	letter-spacing: 0.02em;
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(203,212,97,0.9);
	color: #262E77;
	width: 60px;
	height: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	transition: 0.3s ease-in-out;
	padding: 30px 10px 0 10px;
	border: 2px solid #262E77;
	border-radius: 10%;
	box-sizing: border-box;
}
.link_top a:before {
	content: '';
	width: 10px;
	height: 10px;
	border-top: solid 2px #262E77;
	border-right: solid 2px #262E77;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 25%;
	left: 40%;
	transition: 0.3s ease-in-out;
}
.link_top a:hover {
	background-color: #0C3606;
	color: #FFF;
	opacity: 0.8;
	border-color: #FFF;
}
.link_top a:hover:before {
	border-top-color: #F0E6B0;
	border-right-color: #F0E6B0;
}

.foot_link {
	background-color: #CBD460;
	padding: 40px 0 30px;
}
.foot_link [class*="banner_line"] {
	vertical-align:  top;
	display:  table;
	letter-spacing: -0.4em;
	margin: 0 auto;
	text-align:  center;
	width: 100%;
	max-width: 940px;
}
.foot_link [class*="banner_line"] li {
	vertical-align:  top;
	display: inline-table;
	letter-spacing: 0;
	margin-bottom: 10px;
	background-color:  #fff;
	line-height: 0;
}
.foot_link [class*="banner_line"] li img {
	width: 100%;
	height: auto;
}
.foot_link [class*="banner_line"] li a:hover img {
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70)";
	opacity: 0.7;
	transition: 0.3s;
}
.foot_link .banner_line01 li {
	width: 47.9%;
	margin: 0 1.05% 10px;
}
.foot_link .banner_line02 li {
	width: 40%;
	margin: 0 1.05% 10px;
}
.foot_link .banner_line03 li {
	width: 32%;
	margin: 0 0.5% 10px;
}
/*---------------------------------------- 
	7.0 - Option
----------------------------------------*/
/**table**/
.bg_gr {
	background-color: #ddd;
}
section th,section td {
	padding: 5px 8px 3px;
	border: 1px solid #577032;
	margin: 0;
}
section th {
	background-color: #73AC64;
	color: #fff;
}
section td {
	background-color: #fff;
}
section table.table_border_none th,
section table.table_border_none td {
	background-color: transparent;
	border: none;
	padding: 0;
}
section table.table_border_none th {
	color: #222;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}
section table.table_border_none td {
	padding-left: 1em;
	text-indent: -1em;
}
section table.table_border_btm {
	width: 100%;
}
section table.table_border_btm tr:first-child th,
section table.table_border_btm tr:first-child td {
	padding-top: 0;
}
section table.table_border_btm th,
section table.table_border_btm td {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #aaa;
}
section table.table_border_btm th {
	color: #222;
	padding: 15px 0 15px 8px;
	text-align: left;
	white-space: nowrap;
	width: 60px;
}
section table.table_border_btm td {
	padding: 15px 8px;
}

section table.table_nobord th,section table.table_nobord td {
	background-color: transparent;
	border: none;
	padding: 0;
}
section table.table_nobord th {
	color: #222;
	font-weight: normal;
	text-align: left;
}
section table.table_nobord td {
	vertical-align: top;
}
section table table {
	margin: 0;
	padding: 0;
	text-indent: 0;
}
section .list_text table {
	text-indent: 0;
}
/*list*/
section .list_text {
	text-indent: -1em;
	padding-left: 1em;
}
section .list_mark {
}
section .list_mark li {
	padding-left: 16px;
	position: relative;
}
section .list_mark li:before {
	content: "◆";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14px;
	height: 14px;
}
section .list_banner_text {
	display: table;
	width: 100%;
	letter-spacing: -0.4em;
	text-align: center;
	margin: 0 auto;
}
section .list_banner_text li {
	display: inline-table;
	letter-spacing: 0;
	text-align: center;
	vertical-align: middle;
	width: 48%;
	margin: 0 1%;
}
section .list_banner_text li a, section .list_banner_text li .soon {
	box-sizing: border-box;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	padding: 15px;
	display: table-cell;
	line-height: 1.2;
	position: relative;
}
section .list_banner_text li.row01 a, section .list_banner_text li.row01 .soon {
	padding: 13px 15px;
}
section .list_banner_text li.row02 a, section .list_banner_text li.row02 .soon {
	padding: 5px 15px;
}
section .list_banner_text li a:link,section .list_banner_text li a:visited {
	background-color: #D90420;
}
section .list_banner_text li .soon {
	background-color: #999;
}
section .list_banner_text li a:hover,section .list_banner_text li a:active {
	background-color: #3D5E38;
	transition: 0.3s ease-in-out;
}
section .list_photo,section .list_photo02 {
	display: table;
	letter-spacing: -0.4em;
	width: 100%;
}
section .list_photo li {
	box-sizing: border-box;
	display: inline-table;
	letter-spacing: 0;
	padding: 0 5px 15px;
	width: 16.6%;
}
section .list_photo02 li {
	box-sizing: border-box;
	display: inline-table;
	letter-spacing: 0;
	padding: 0 5px 15px;
}
section .list_photo li img {
	width: 100%;
	height: auto;
}
section .list_photo02 li img {
	width: auto;
	height: 143px;
}

.list_sponsor {
}
.list_sponsor [class*="banner_line"] {
	vertical-align:  top;
	display:  table;
	letter-spacing: -0.4em;
	margin: 0 auto;
	text-align:  center;
	width: 100%;
	max-width: 940px;
}
.list_sponsor [class*="banner_line"] li {
	box-sizing: border-box;
	border: 1px solid #ddd;
	vertical-align:  middle;
	display: inline-table;
	letter-spacing: 0;
	margin-bottom: 10px;
	background-color:  #fff;
	line-height: 0;
}
.list_sponsor [class*="banner_line"] li a,.list_sponsor [class*="banner_line"] li span {
	vertical-align:  middle;
	display: table-cell;
	width: 100%;
	height: 20%;
}
.list_sponsor [class*="banner_line"] li a img,.list_sponsor [class*="banner_line"] li span img {
	width: 100%;
	height: auto;
}
.list_sponsor [class*="banner_line"] li a:hover img {
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70)";
	opacity: 0.7;
	transition: 0.3s;
}
.list_sponsor .banner_line01 li {
	width: 73%;
	margin: 0 0.5% 10px;
}
.list_sponsor .banner_line02 li {
	width: 49%;
	margin: 0 0.5% 10px;
}
.list_sponsor .banner_line03 li {
	width: 32%;
	margin: 0 0.5% 10px;
}
/*width*/
.w_100 {
	width: 100%;
}
.w_25 {
	width: 25%;
}

/*icon*/
section ul.list_banner_text li a.icon_pdf,
section ul.list_banner_text li a.icon_word,
section ul.list_banner_text li a.icon_excel {
	padding-right:50px;
}
section ul.list_banner_text li a.icon_pdf:after,
section ul.list_banner_text li a.icon_word:after,
section ul.list_banner_text li a.icon_excel:after,
section ul.list_banner_text li .soon,
section a.iconS_pdf,section a span.iconS_pdf,
section a.iconS_word,section a span.iconS_word,
section a.iconS_word,section a span.iconS_excel {
	box-sizing: border-box;
	position: relative;
}
section a.iconS_pdf,section a span.iconS_pdf,
section a.iconS_word,section a span.iconS_word,
section a.iconS_excel,section a span.iconS_excel {
	padding-right: 20px;
	display: inline-block;
}
section a.iconS_pdf:after,section a span.iconS_pdf:after,
section a.iconS_word:after,section a span.iconS_word:after,
section a.iconS_excel:after,section a span.iconS_excel:after,
section a.link_out:after,section span.link_out:after,
section ul.list_banner_text li a.icon_pdf:after,
section ul.list_banner_text li a.icon_word:after,
section ul.list_banner_text li a.icon_excel:after,
section ul.list_banner_text li .soon.icon_pdf:after {
	content: " ";
	background-image: url(../img/bg_icon.png);
	background-repeat: no-repeat;
	position: absolute;
}
section ul.list_banner_text li a:before, section ul.list_banner_text li .soon:before {
	background-position: 0px 0px;
	margin-top: -6px;
	top: 50%;
	left: 20px;
	width: 9px;
	height: 14px;
}
section ul.list_banner_text li a.icon_pdf:after, section ul.list_banner_text li a.icon_word:after, section ul.list_banner_text li a.icon_excel:after {
	background-position: 0px 0px;
	margin-top: -16px;
	top: 50%;
	right: 15px;
	width: 32px;
	height: 32px;
}
section ul.list_banner_text li a.icon_word:after {
	background-position: -40px 0px;
}
section ul.list_banner_text li a.icon_excel:after {
	background-position: -80px 0px;
}
section a.iconS_pdf:after,section a span.iconS_pdf:after,
section a.iconS_word:after,section a span.iconS_word:after {
	margin-top: -9px;
	top: 50%;
	right: 0px;
	width: 18px;
	height: 16px;
}
section a.iconS_pdf:after,section a span.iconS_pdf:after {
	background-position: 0px -40px;
}
section a.iconS_word:after,section a span.iconS_word:after {
	background-position: -20px -40px;
}
section a.iconS_word:after,section a span.iconS_excel:after {
	background-position: -40px -40px;
}
a.link_out, span.link_out {
	position: relative;
	padding-right: 18px;
}
a.link_out:after, span.link_out:after {
	content: " ";
	background-position: -280px -0px;
	bottom: 5px;
	right: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
}
.box_coming {
	padding: 80px 0;
	color: #666;
}
.line_border {
	position: relative;
	margin-top: 60px;
}
.line_border:before {
	background-color: #ccc;
	content: " ";
	position: absolute;
	top: -30px;
	left: -4px;
	width: 100%;
	height: 1px;
}
.prg_border {
	border-bottom: 1px dotted #999;
	padding-bottom: 0.2em;
	marguin-bottom: 0.5em;
	display: inline-block;
	width: 100%;
}
.keynote_link a img {
}
.keynote_link th:hover {
	background-color:#89D36B;
}
.keynote_link th a {
	color: #fff;
	display: block;
}
.keynote_link td a {
	color: #222;
	text-decoration: none;
	display: block;
}
/*program*/
.course_cancel {
	position: relative;
}
.course_cancel:before,.course_cancel:after {
	content: " ";
	position: absolute;
}
.course_cancel:before {
	background-color: rgba(0,0,0,0.25);
	padding: 10px 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: -10px;
}
.course_cancel:after {
	content: "Canceled";
	color: #FF0004;
	font-size: 200%;
	font-weight: 700;
	left: 50%;
	top: 50%;
	margin-top: -0.5em;
	margin-left: -2.4em;
	text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff;
}
/*---------------------------------------- 
	7.1 - Index
----------------------------------------*/
.index header {
	margin-bottom: 20px;
}
.main_img {
	max-width: 840px;
	margin: 0 auto;
	margin-bottom: 0px;
	position: relative;
	z-index: 0;
}
.index_dates td {
}
.index_dates tr td:nth-child(1) {
	background-color: #73AC64;
	font-weight: 700;
	color: #fff;
}
.index_dates tr td:nth-child(2) {
	font-weight: 700;
	white-space: nowrap;
	width: 10.5em;
}

.link_index {
	display: table;
	width: auto;
	margin-top: -3.5em;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: auto;
	letter-spacing: -0.4em;
	line-height: 0;
}
.link_index li {
	box-sizing: border-box;
	display: inline-block;
	padding-left: 1em;
	letter-spacing: normal;
	line-height: 1.6;
	vertical-align: middle;
}
.link_index li.twitter {
	width: 42px;
	height: 42px;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}
.link_index li a {
	color: #fff;
	display: table;
	margin: 0 auto;
	text-decoration: none;
	width: 190px;
	height: 3em;
	line-height: 1.2;
}
.link_index li.twitter a {
	width: 42px;
	height: 42px;
	background-color: transparent !important;
}
.link_index li.twitter a img {
	width: 100%;
	height: auto;
}
.link_index a:link,.link_index a:visited {
	background-color: #D90420;
}
.link_index a:hover,.link_index a:active {
	background-color: #3D5E38;
	transition: 0.3s ease-in-out;
}
.link_index li strong {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.index_info {
	margin-top: -20px;
	margin-bottom: 50px;
	height: 15em;
	overflow-y: auto;
}
.index_info dt,.index_info dd {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 16px;
}
.index_info dt {
	float: left;
	padding-left: 15px;
}
.index_info dd {
	padding-left: 10em;
	position: relative;
}
.index_info dd:after {
	background-color:#ddd;
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
}
/*---------------------------------------- 
	8.0 - Print
----------------------------------------*/
@media print {
html {
	background-color: transparent;
}
.link_top a {
	display: none;
}
}
/*---------------------------------------- 
	0.0 - Text
----------------------------------------*/
.tx_C {
	text-align: center;
}
.tx_L {
	text-align: left;
}
.tx_R {
	text-align: right;
}
.tx_Md {
	vertical-align: middle;
}
section .tx_shadow {
	text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff;
}
.indentback01 {
	text-indent: -1em;
	magin-left: 1em;
}
.tx_indent01 {
	text-indent: 1em;
}
.tx_underline {
	text-decoration: underline;
}
.tx_black {
	color: #111;
}
.tx_red {
	color: #F00;
}
.tx_grn {
	color: #378845;
}
.tx10 {
	font-size: 10px;
	font-size: 1.0rem;
}
.tx13 {
	font-size: 13px;
	font-size: 1.3rem;
}
.tx14,#contents,section .tx14 {
	font-size: 14px;
	font-size: 1.4rem;
}
.tx16 {
	font-size: 16px;
	font-size: 1.6rem;
}
.tx18 {
	font-size: 18px;
	font-size: 1.8rem;
}
.tx20 {
	font-size: 20px;
	font-size: 2.0rem;
}
.tx22 {
	font-size: 22px;
	font-size: 2.2rem;
}
.ls05 {
	letter-spacing: -0.04em;
}
/*---------------------------------------- 
	0.1 - Margin
----------------------------------------*/
section .mgt10 {
	margin-top: 10px;
}
section .mgt20 {
	margin-top: 20px;
}
section .mgl15 {
	margin-left: 15px;
}
section .mgl20 {
	margin-left: 20px;
}
section .mgr20 {
	margin-right: 20px;
}
section .mgb0 {
	margin-bottom: 0 !important;
}
section .mgb5 {
	margin-bottom: 4px;
}
section .mgb10 {
	margin-bottom: 10px !important;
}
section .mgb15 {
	margin-bottom: 15px !important;
}
section .mgb20 {
	margin-bottom: 20px;
}
section .mgb30 {
	margin-bottom: 30px;
}
#contents p.mgb40,
section .mgb40 {
	margin-bottom: 40px;
}
#contents p.mgb60,
section .mgb60 {
	margin-bottom: 60px;
}
section .mgb-20 {
	margin-bottom: -20px;
}
section .mgb-30 {
	margin-bottom: -30px;
}
/*---------------------------------------- 
	0.2 - Float
----------------------------------------*/
.fL {
	float: left;
}
.fR {
	float: right;
}
/*---------------------------------------- 
	0.3 - Letter-spacing
----------------------------------------*/
.lts002 {
	letter-spacing: -0.02em;
}
.lts003 {
	letter-spacing: -0.03em;
}
.lts004 {
	letter-spacing: -0.04em;
}
.lts005 {
	letter-spacing: -0.05em;
}
@media only screen and (max-width: 920px) {
.table_scroll table td {
	word-break: break-all;
}
.link_index {
	width: 100%;
	table-layout:fixed;
}
.link_index li {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 0.5em;
}
.link_index li a {
	width: 100%;
}
}
@media only screen and (max-width: 768px) {
header {
	padding-top: 0;
}
/*ハンバーガー*/
#top_head.open #global_nav {
	margin-top: 0px;
}
#global_nav {
	position: absolute;
	/* 開いてないときは画面外に配置 */
	top: -500px;
	right: 0px;
	width: 100%;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	border-top: 2px solid rgba(90,96,26,0.5);
	border-bottom: 2px solid rgba(90,96,26,0.5);
	margin: 0px 0px 0px 0px;
	padding: 0px;
	z-index: 9999;
	height: inherit;
	background-color: rgba(162,176,96,0.95);
}
#global_nav ul {
	right: 0;
	bottom: 0;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0;
}
#global_nav ul li {
	width: 100%;
	text-align: center;
	display: block;
	margin: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(203,212,96,0.5);
	padding: 0;
	font-size: 16px;
	font-size: 1.6rem;
}
#global_nav ul li:nth-of-type(7) {
	width: auto;
}
#global_nav ul li::before {
	border: none;
}
#top_head #global_nav ul li a, #top_head.fixed #global_nav ul li a,
#top_head #global_nav ul li span, #top_head.fixed #global_nav ul li span {
	width: 100%;
	display: block;
	padding: 15px 0;
	border-bottom: none;
}
#top_head #global_nav ul li.on a, #top_head #global_nav ul li a:hover, #top_head.fixed #global_nav ul li a:hover {
	border: none;
	background-color: rgba(183,212,96,0.95);
}
#top_head .pre {
	padding: 15px 0px;
}
#nav_toggle {
	display: block;
}
/* #nav_toggle 切り替えアニメーション */
.open #nav_toggle span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}
.open #nav_toggle span:nth-child(2) {
	width: 0;
	left: 50%;
}
.open #nav_toggle span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}
/* #global-nav スライドアニメーション */
.open #global_nav {
	/* #global_nav top + #mobile_head height */
	-moz-transform: translateY(556px);
	-webkit-transform: translateY(556px);
	transform: translateY(556px);
}
/*ハンバーガーend*/
.head {
	padding: 20px 5px 20px 5px;
}
.head p.logo_icc {
	max-width: 40%;
}
.head h1 {
	max-width: 100%;
	margin: 20px 0 0 0;
}
#nav_toggle {
	top: 20px;
}
/*Sub navigation*/
#global_nav .sub_nav {
	display: inline;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
#global_nav .sub_nav li a,#global_nav .sub_nav li span {
	box-sizing: border-box;
	padding-left: 1em !important;
}
/*contents*/
#contents {
	padding: 60px 10px;
}
#contents h1 {
	font-size: 28px;
	font-size: 2.8rem;
}
#contents h1:after {
	width: 60%;
}
#contents h2 {
	font-size: 20px;
	font-size: 2.0rem;
}
.scr_box {
	padding: 40px 10px;
}
.scr_box dd .tablet {
	display: inline;
}
.link_top a {
	display: none;
}
p.copy {
	padding-left: 10px;
	padding-right: 10px;
}
.link_index li {
	box-sizing: border-box;
	width: auto;
}
.link_index li:nth-of-type(2) {
	width: 10em;
}
.link_index li:nth-of-type(3) {
	width: 9em;
}
.link_index li:nth-of-type(4) {
	width: 10.5em;
}
.link_index li a {
	box-sizing: border-box;
	padding-left: 0.5em;
	padding-right: 0.5em;
	white-space: nowrap;
}
.link_index li.twitter a {
	padding: 0;
}
/*
.link_index li:first-child {
	padding: 0 0.5em 0 0;
}
.link_index li:last-child {
	padding: 0 0 0 0.5em;
}
*/
.index_info dt {
	float: none;
	padding-bottom: 0;
}
.index_info dd {
	padding-bottom: 15px;
	padding-top: 0;
	padding-left: 15px;
}
/*table*/
.table_scroll {
	position: relative;
	width: 100%;
}
.table_scroll:after {
	content: "If the window size is narrow, this table is displayed with side scrolling.";
	position: relative;
}
.table_scroll table {
	border-left: 1px solid #577032;
	border-right: 1px solid #577032;
	border-bottom: 1px solid #577032;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	display: block;
}
.table_scroll table th {
  white-space: nowrap;
}
.table_scroll table td {
  white-space: nowrap;
	width: 100%;
}
.table_scroll table br.tx_break {
	display: none;
}
section .list_photo li {
	box-sizing: border-box;
	display: inline-table;
	letter-spacing: 0;
	padding: 0 5px 15px;
	width: 33.3%;
}
section .list_photo02 li {
	box-sizing: border-box;
	display: inline-table;
	letter-spacing: 0;
	padding: 0 5px 15px;
	height: 33.3%;
}
section .list_photo02 li img {
	width: 100%;
	height: auto;
}
}
@media only screen and (max-width: 480px) {
.head p.logo_icc {
	max-width: 60%;
}
.head h1 .pc {
	display: none;
}
.head h1 .sp {
	display: inline-block;
}
.head p.logo_ica-aci.tablet {
	max-width: 20%;
	margin-top: 2%;
}

#contents:after {
	clear: both;
	display: block;
	height: 0;
	content: "";
}
#contents h1 {
	font-size: 24px;
	font-size: 2.4rem;
}
#contents h1:after {
	width: 70%;
}
#contents h2 {
	font-size: 18px;
	font-size: 1.8rem;
}
.index_dates tr td:nth-child(1) {
	display: block;
}
.index_dates tr td:nth-child(2) {
	display: block;
	border-top: none;
	width: auto;
}

.link_index {
	width: 100%;
	margin-top: -2em;
}
.link_index li {
	display: block;
	margin: 0 0 1em;
}
.link_index li:first-child,.link_index li:last-child,.link_index li:nth-of-type(n) {
	padding: 0;
}
.link_index li:nth-of-type(2),.link_index li:nth-of-type(3),.link_index li:nth-of-type(4) {
	width: auto;
}
.link_index li a {
	width: 100%;
}
section .list_banner_text li {
	width: 98%;
	margin: 0 1%;
}
section .list_photo li {
	box-sizing: border-box;
	display: inline-table;
	letter-spacing: 0;
	padding: 0 5px 15px;
	width: 50%;
}
.foot_link .banner_line02 li,
	.list_sponsor .banner_line02 li{
	width: 94%;
	margin: 0 3% 10px;
}
.foot_link .banner_line01 li,
	.list_sponsor .banner_line01 li{
	width: 94%;
	margin: 0 3% 10px;
}
.foot_link .banner_line03 li,
	.list_sponsor .banner_line03 li{
	width: 94%;
	margin: 0 3% 10px;
}
}
